html,body{
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif!important;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


//像素转rem
@function px2rem($px, $base-font-size: 16px) {
  @if (unitless($px)) {
    @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
    @return px2rem($px + 0px); // That may fail.
  } @else if (unit($px) == rem) {
    @return $px;
  }
  @return ($px / $base-font-size) * 1rem;
}

@mixin tablet {
  @media (max-width: 1217px){// and (max-width: 1200px)
    @content
  }
}
@mixin desktop {
  @media (min-width: 1218px) {
    @content
  }
}



//文字省略
.text-ellipsis{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  //word-wrap:break-word;
}
//多行文本省略 默认2行
@mixin text-ellipsis-lines($line:2){
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  //word-wrap:break-word;
}
/* 清除浮动 */
.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table;line-height:0; content:"";}
